* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: robotoRegular;
  src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: robotoBold;
  src: url(assets/fonts/Roboto-Bold.ttf);
}

html,
body {
  height: 100%;
}

body {
  font-family: robotoRegular, "sans-serif";
  font-size: 16px;
  color: hsl(235, 21%, 33%);
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

main {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
}

#mobile-img {
  display: block;
}

#desktop-img {
  display: none;
}

.text,
section {
  padding: 20px;
}

#d h1 {
  margin-top: 10px;
  font-size: 2.4rem;
}

h1,
button,
.confirmed-email {
  font-family: robotoBold, "sans-serif";
}

h1,
h5 {
  color: hsl(234, 29%, 20%);
}

p {
  margin: 23px 0;
}

ul {
  padding: 0 28px;
  margin-bottom: 35px;
}

li {
  margin-bottom: 10px;
  list-style-image: url(assets/images/icon-list.svg);
}

li > span {
  top: -5px;
  left: 8px;
  position: relative;
}

.email-top-text {
  display: flex;
  justify-content: space-between;
}

h5 {
  font-size: 0.7rem;
}

.valid-email-required,
.error-input {
  color: hsl(4, 100%, 67%);
}

input,
button {
  width: 100%;
  height: 55px;
  border-radius: 8px;
  font-size: 0.9rem;
}

input {
  margin: 10px 0 15px 0;
  padding: 0 18px;
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.error-input {
  background-color: hsla(4, 100%, 67%, 0.223);
  border: 1px solid hsl(4, 100%, 67%);
}

button {
  background-color: hsl(234, 29%, 20%);
  color: white;
  border: none;
}

section {
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 155px;
  max-width: 500px;
}

section img {
  align-self: flex-start;
}

section h1 {
  line-height: 1.1;
  margin-top: 20px;
  font-size: 2.2rem;
}

section div {
  position: relative;
  flex-grow: 1;
}

section button {
  position: absolute;
  bottom: 5px;
}

@media (min-width: 575px) {
  body {
    background-color: hsl(235, 18%, 26%);
  }

  main {
    max-width: 500px;
  }

  section {
    width: 420px;
    height: 420px;
    border-radius: 20px;
    padding: 40px 50px;
    font-size: 14px;
  }

  section img {
    width: 60px;
  }

  section button:hover {
    cursor: pointer;
  }

  .attribution {
    margin-top: 5px;
    color: aliceblue;
  }

  .attribution a {
    color: lightblue;
  }
}

@media (min-width: 756px) {
  main {
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    font-size: 14px;
    max-height: 580px;
    max-width: 726px;
    padding: 15px 20px;
  }

  #mobile-img {
    display: none;
  }

  #desktop-img {
    display: block;
    padding: 0;
    max-width: 350px;
    max-height: 590px;
    flex-basis: 50%;
  }

  .text {
    flex-basis: 50%;
  }

  main h1 {
    font-size: 2.6rem;
  }

  section button:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 98, 117), rgb(253, 101, 69));
    box-shadow: 0px 10px 25px -1px rgb(255, 98, 87);
  }
}

@media (min-width: 890px) {
  main {
    line-height: 1.6;
    max-width: 822px;
  }

  .text {
    padding: 50px 10px 50px 40px;
  }

  main p {
    margin: 15px 0;
  }

  ul {
    margin-bottom: 28px;
  }
}
